<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
        <add key="host" value="10.0.75.1" />
        <add key="port" value="8000" />
        <add key="username" value="user-with-admin-role" />
        <add key="password" value="password-for-username" />
        <add key="realm" value="public" />
    </appSettings>   
</configuration>
